# ErrorDocument 404 /index.html

RewriteEngine On
RewriteRule "(^|/)\.(?!well-known\/)" - [F]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.html [L]

<IfModule mod_expires.c> 
  ExpiresActive On
  ExpiresDefault "access plus 1 years"
</IfModule>
